body{
    background-color: rgb(1, 1, 55);
    color: white;
    
    text-align: center;
    
}

.col-sm-12{
    font-size: 20px;
    letter-spacing: 3px;
}

/*.row{
    display: flex;
    justify-content: space-between;
} */

.lower{
    font-size: 16px;
}


